@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body, h1, h2, h3 {
        @apply font-primary font-medium;
    }

    .subtext {
        @apply font-default font-light text-sm;
    }

    .button-primary {
        @apply font-default font-light inline-flex items-center bg-secondary hover:bg-secondary-900 text-white text-sm py-2 px-5 rounded-full shadow-lg transform transition-all duration-300 hover:scale-105;
    }

    .button-secondary {
        @apply font-default font-light inline-flex items-center bg-primary hover:bg-primary-800 text-white text-sm py-2 px-5 rounded-full shadow-lg transform transition-all duration-300 hover:scale-105;
    }

}
